<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title> {{ title }} </title>
</head>
<body>
  
     {{!-- so is this going to be my divs? outer div and inner div to hit the css? --}}
    {{!-- index.hb should be renamed login.hb? --}}
    {{!-- Like dashboard.hb is pointless? Should map.hb he the thing I'm typing in? --}}
  
   
    {{{ body }}}
</body>
</html>