<div class="login-container">
  <h2>Login</h2>
  <form class="login-form">
    <div class="input-group">
      <label for="email-login">Email:</label>
      <input type="text" id="email-login" />
    </div>
    <div class="input-group">
      <label for="password-login">Password:</label>
      <input type="password" id="password-login" />
    </div>
    <div class="input-group">
      <button class="login-button" type="submit">Login</button>
    </div>
  </form>
</div>

<div class="login-container">
  <h2>Signup</h2>
  <form class="signup-form">
    <div class="input-group">
      <label for="name-signup">Name:</label>
      <input type="text" id="name-signup" />
    </div>
    <div class="input-group">
      <label for="email-signup">Email:</label>
      <input type="text" id="email-signup" />
    </div>
    <div class="input-group">
      <label for="password-signup">Password:</label>
      <input type="password" id="password-signup" />
    </div>
    <div class="input-group">
      <button class="login-button" type="submit">Signup</button>
    </div>
  </form>
</div>

<script src="./js/login.js"></script>

