/* All below is handlebars for map! */


#map {
    background: url('/assets/map.svg') no-repeat;
    width: 1000px;
    height: 1000px;
    position: relative;
  }
  
  .tooltip-container {
    text-align: center;
    margin: 10px;
    background-color: grey;
    height: 50px;
    width: 100px;
  }
  
  .tooltip {
    position: relative;
    display: none;
  }
  
  #map .minesofmoria {
    position: absolute;
    left: 500px;
    top: 378px;
  }
  
  #map .minesofmoria .mapPin {
    width: 25px;
  }
  
  #map .minesofmoria:hover > .tooltip {
    display: block;
  }
  
  #map .mordor {
    position: absolute;
    right: 80px;
    top: 500px;
  }
  
  #map .mordor .mapPin {
    width: 25px;
  }
  
  #map .mordor:hover > .tooltip {
    display: block;
  }
  